# Dependencies
node_modules/

# Build output
out/
dist/
**/bin
**/obj

# VS Code settings (keep project configs)
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json

# Logs and caches
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#Other
.DS_Store
.env